{% extends 'base.html' %}

{% block content %}
<div class="bee-row bee-row-3">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w12">
            <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:10px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>JobFind is a user friendly end to end hiring software with a unique </span></strong></span></p>
                <p style="word-break:break-word;"><span><strong><span>focus on creating rich and beautiful job postings.</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-3 bee-divider">
                <div class="spacer" style="height:20px;"></div>
            </div>
            <div class="bee-block bee-block-4 bee-image"><img alt="Guys Shaking Hand" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/middle_Image.png" style="max-width:720px;" /></div>
            <div class="bee-block bee-block-5 bee-divider">
                <div class="spacer" style="height:45px;"></div>
            </div>
            <div class="bee-block bee-block-6 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>3 easy steps to post your job </span></strong><strong><span>and </span></strong></span></p>
                <p style="word-break:break-word;"><span><strong><span>find your next super star</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-7 bee-divider">
                <div class="spacer" style="height:0px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-4">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w6">
            <div class="bee-block bee-block-1 bee-image"><img alt="Guy Searching" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/search.png" style="max-width:676px;" /></div>
        </div>
        <div class="bee-col bee-col-2 bee-col-w6">
            <div class="bee-block bee-block-1 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>Job Post</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-4 bee-paragraph">
                <p style="word-break:break-word;"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</span></p>
            </div>
            <div class="bee-block bee-block-5 bee-button"><a class="bee-button-content" href="www.example.com" style="font-size: 16px; background-color: #5855bd; border-bottom: 0px solid #8a3b8f; border-left: 0px solid #8a3b8f; border-radius: 4px; border-right: 0px solid #8a3b8f; border-top: 0px solid #8a3b8f; color: #ffffff; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 10px; padding-left: 50px; padding-right: 45px; padding-top: 10px; width: auto; display: inline-block;" target="_self"><span style="word-break: break-word; font-size: 16px; line-height: 200%;"><strong style="font-size: 16px;">Get Started</strong></span></a></div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-5">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w6">
            <div class="bee-block bee-block-1 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-paragraph">
                <p style="word-break:break-word;"><span><strong>Receiving Resume</strong></span></p>
            </div>
            <div class="bee-block bee-block-4 bee-paragraph">
                <p style="word-break:break-word;"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</span></p>
            </div>
            <div class="bee-block bee-block-5 bee-button"><a class="bee-button-content" href="www.example.com" style="font-size: 16px; background-color: #5855bd; border-bottom: 0px solid #8a3b8f; border-left: 0px solid #8a3b8f; border-radius: 4px; border-right: 0px solid #8a3b8f; border-top: 0px solid #8a3b8f; color: #ffffff; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 10px; padding-left: 50px; padding-right: 45px; padding-top: 10px; width: auto; display: inline-block;" target="_self"><span style="word-break: break-word; font-size: 16px; line-height: 200%;"><strong style="font-size: 16px;">Get Started</strong></span></a></div>
        </div>
        <div class="bee-col bee-col-2 bee-col-w6">
            <div class="bee-block bee-block-1 bee-image"><img alt="Guy Working" class="bee-center bee-fullwidthOnMobile bee-fixedwidth" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/find_.png" style="max-width:676px;" /></div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-6">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w6">
            <div class="bee-block bee-block-1 bee-image"><img alt="Two people working together" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/finding.png" style="max-width:676px;" /></div>
        </div>
        <div class="bee-col bee-col-2 bee-col-w6">
            <div class="bee-block bee-block-1 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>Select candidate</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-4 bee-paragraph">
                <p style="word-break:break-word;"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,</span></p>
            </div>
            <div class="bee-block bee-block-5 bee-button"><a class="bee-button-content" href="www.example.com" style="font-size: 16px; background-color: #5855bd; border-bottom: 0px solid #8a3b8f; border-left: 0px solid #8a3b8f; border-radius: 4px; border-right: 0px solid #8a3b8f; border-top: 0px solid #8a3b8f; color: #ffffff; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 10px; padding-left: 50px; padding-right: 45px; padding-top: 10px; width: auto; display: inline-block;" target="_self"><span style="word-break: break-word; font-size: 16px; line-height: 200%;"><strong style="font-size: 16px;">Get Started</strong></span></a></div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-7">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w12">
            <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:10px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider">
                <div class="spacer" style="height:25px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>Used and loved by enterprises and </span></strong><strong><span>hiring </span></strong><strong style="background-color:transparent;"><span>managers all over the globe</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-4 bee-divider">
                <div class="spacer" style="height:25px;"></div>
            </div>
            <div class="bee-block bee-block-5 bee-image"><img alt="Referral Logos" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/logos.png" style="max-width:864px;" /></div>
            <div class="bee-block bee-block-6 bee-divider">
                <div class="spacer" style="height:25px;"></div>
            </div>
            <div class="bee-block bee-block-7 bee-divider">
                <div class="spacer" style="height:0px;"></div>
            </div>
            <div class="bee-block bee-block-8 bee-paragraph">
                <p style="word-break:break-word;"><span><strong><span>Get a personalized Demo</span></strong></span></p>
            </div>
            <div class="bee-block bee-block-9 bee-paragraph">
                <p style="word-break:break-word;"><span>Discover how JobFind can help you simplify your hiring</span></p>
            </div>
            <div class="bee-block bee-block-10 bee-form">
                <form accept-charset="UTF-8" action="{{form.action}}" autocomplete="on" enctype="multipart/form-data" method="post" target="_self">
                    <div class="bee-form-row">
                        <div class="bee-field bee-field-r6c0m9i3"><label for="r6c0m9i3">Email</label><input id="r6c0m9i3" name="{{form.email}}" required="" type="text" /></div>
                    </div>
                    <div class="bee-form-row">
                        <div class="bee-field bee-field-r6c0m9i5">
                            <div class="bee-button-container"><button id="r6c0m9i5" name="submit" type="submit" value="BOOK DEMO">BOOK DEMO</button></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bee-block bee-block-11 bee-image"><img alt="Guy working" class="bee-center bee-fixedwidth bee-fullwidthOnMobile" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/find_new_job.png" style="max-width:720px;" /></div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-8">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w12">
            <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:35px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="bee-row bee-row-9">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w12">
            <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:20px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}