{% extends 'base.html' %}

{% block content %}
<div class="bee-row bee-row-2">
    <div class="bee-row-content">
        <div class="bee-col bee-col-1 bee-col-w6">
            <div class="bee-block bee-block-1 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:105px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider">
                <div class="spacer" style="height:10px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-paragraph">
                <p style="word-break: break-word;"><span>Dashboard</span></p>
            </div>
            <div class="bee-block bee-block-4 bee-paragraph">
                <p style="word-break: break-word;"><strong><span>Hi, {{user.username}}!</span></strong></p>
            </div>
            <div class="bee-block bee-block-5 bee-paragraph">
                <p style="word-break:break-word;"><span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</span></p>
            </div>
            <div class="bee-block bee-block-6 bee-divider">
                <div class="spacer" style="height:0px;"></div>
            </div>
            <div class="bee-block bee-block-7 bee-button"><a class="bee-button-content" href="/accounts/profile/" style="font-size: 16px; background-color: #5855bd; border-bottom: 0px solid #8a3b8f; border-left: 0px solid #8a3b8f; border-radius: 4px; border-right: 0px solid #8a3b8f; border-top: 0px solid #8a3b8f; color: #ffffff; direction: ltr; font-family: inherit; max-width: 100%; padding-bottom: 10px; padding-left: 50px; padding-right: 45px; padding-top: 10px; width: auto; display: inline-block;" target="_self"><span style="word-break: break-word; font-size: 16px; line-height: 200%;"><strong style="font-size: 16px;">Get Started</strong></span></a></div>
        </div>
        <div class="bee-col bee-col-2 bee-col-w6">
            <div class="bee-block bee-block-1 bee-divider">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider bee-mobile_hide">
                <div class="spacer" style="height:30px;"></div>
            </div>
            <div class="bee-block bee-block-3 bee-image"><img alt="Interview Candidate" class="bee-center bee-autowidth" src="https://d1oco4z2z1fhwp.cloudfront.net/templates/default/2461/Image_1.png" style="max-width:648px;" /></div>
            <div class="bee-block bee-block-4 bee-divider">
                <div class="spacer" style="height:30px;"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}